

<nav  class="navbar navbar-expand-lg NavbarNav" >
  <div class="container-fluid navbar-container">

    <a class="navbar-brand navlogo" href="{% url 'app_home' %}">Tracker</a>
    <button class="navbar-toggler navbar-btn" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link navlogo" href="{% url 'exercises' %}">Exercises</a>
        </li>
      </ul>
    </div>

  </div>
</nav>