:root {
    --main-bg-color: #082C38;
    --main-txt-color: white;
}

.title {
    color: darkblue;
    font-size: 30px;
    text-align: center;
}

/* ------------------------------------------------- */
/* NAVBAR */


body .NavbarNav {
     /* border: 1px solid red; */
    padding: 2% 5% 2% 5%;
    background-color: var(--main-bg-color);
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.navlogo {
    color: white;
}

.navbar-btn {
    background-color: white;
}


/* ------------------------------------------------- */
/* WORKOUT GROUPS */

.container-wk-grp {
    /* border: 1px solid red; */
    /* margin-top: 10px;
    margin-left: 10px; */
    margin-bottom: 5%;
}

.btn-custom {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);

}

.btn-custom:focus, .btn-custom:active {
    background-color: var(--main-bg-color);
    color: white;
}


/* ------------------------------------------------- */
/* MODAL */
.modal-header-container {
    background-color: var(--main-bg-color);
    color: white;
}

#btn-close-custom {
    color: var(--main-txt-color) !important;
}

/* ------------------------------------------------- */
/* CREATE WORKOUT */
.home-container {
    /* border:2px solid red; */
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}



/* ------------------------------------------------- */
/* PERSONAL BEST */

.table-perso-best {
    /* border:2px solid red; */
    margin-top: 5%;
}

.perso-best-banner {
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}


/* ------------------------------------------------- */
/* CALENDAR GRID */

.calendar-grid {
    /* border:2px solid red; */
    display: grid;
    grid-template-columns: repeat(7, 40px);
    gap: 6px;
    margin-top: 20px;
    max-width: 300px;
}

.day-name {
  font-weight: bold;
  text-align: center;
  color: #444;
}

.day-cell {
  width: 40px;
  height: 40px;
  background-color: #eee;
  text-align: center;
  line-height: 40px;
  border-radius: 6px;
  font-weight: 500;
  color: #333;
}

.day-cell.active {
  background-color: #4CAF50;
  color: white;
}

.day-cell.empty {
  background-color: transparent;
}


